{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {"node": "current"}
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ]
}